flask
flask_sqlalchemy
xlwt
xlrd
pdf2image
pdfschedule
beautifulsoup4
pymupdf
selenium
asgiref
bcrypt
cffi
click
dnspython
email-validator
Flask-Bcrypt
Flask-Login
Flask-WTF
greenlet
idna
importlib-metadata
itsdangerous
Jinja2
MarkupSafe
pycparser
six
SQLAlchemy
sqlparse
Werkzeug
WTForms
zipp
