flask
flask_sqlalchemy
xlwt
xlrd
pdf2image
pdfschedule
beautifulsoup4
selenium
Flask-Bcrypt
Flask-Login
Flask-Mail
requests
google-api-python-client
google_auth_oauthlib
flask_wtf
wtforms
itsdangerous==2.0.1