/*Empty CSS file for your own CSS */
.form-control:focus {
  color: white;
  background-color: rgb(31 41 55 / var(--tw-bg-opacity));
}

#btn:hover {
  background-color: rgba(78, 129, 238, 0.7);
  transition: background-color 0.01s ease-out, color 0.01s ease-out;
}

#btn:active {
  background-color: rgba(78, 129, 238, 0.4);
  transition: background-color 0.01s ease-out, color 0.01s ease-out;
}

#btn2:hover {
  background-color: rgba(230, 230, 230);
  transition: background-color 0.01s ease-out, color 0.01s ease-out;
}

#btn2:active {
  background-color: rgba(210, 210, 210);
  transition: background-color 0.01s ease-out, color 0.01s ease-out;
}

li {
  display: list-item;
  list-style-type: decimal;
  list-style-position: inside;
}

table {
  border-collapse: collapse;
  border: 3px solid #ffffff;
}

table td {
  border: 3px solid #ffffff;
}

.container-fluid {
  height: 100%;
  padding: 15px;
  background-color: rgba(187, 39, 26, 0.1);
  width: 70%;
}

.main-font {
  font-family: "Montserrat", sans-serif;
}
