<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-6ZQDL2CCWC"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-6ZQDL2CCWC');
    </script>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Custom fonts for this template-->
    <link href="/static/vendor/fontawesome-free/css/all.min.css"
          rel="stylesheet"
          type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">
    <!-- Custom styles for this template-->
    <link href="/static/css/sb-admin-2.min.css" rel="stylesheet">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
          integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
          crossorigin="anonymous"
          referrerpolicy="no-referrer" />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap"
          rel="stylesheet">
    <!-- Bootstrap core JavaScript-->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script src="/static/vendor/jquery/jquery.min.js"></script>
    <script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- Core plugin JavaScript-->
    <script src="/static/vendor/jquery-easing/jquery.easing.min.js"></script>
    <!-- Custom scripts for all pages-->
    <script src="/static/js/sb-admin-2.min.js"></script>
    <!-- Page level plugins -->
    <script src="/static/vendor/chart.js/Chart.min.js"></script>
    <!-- Page level custom scripts -->
    <script src="/static/js/demo/chart-area-demo.js"></script>
    <script src="/static/js/demo/chart-pie-demo.js"></script>
    <link rel="Bookmark" href="/static/favicon.ico" />
    <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon" />
    <link rel="icon" href="/static/favicon.ico" type="image/x-icon" />
    <link rel="apple-touch-icon" href="/static/favicon.ico">
    <link rel="apple-touch-icon" href="/static/icon.png">
    <link rel="stylesheet" href="/static/css/my_css.css">
    {% block head %}{% endblock %}
  </head>
  <body id="page-top" class="bg-black">
    <!-- Page Wrapper -->
    <div id="wrapper">
      <!-- Content Wrapper -->
      <div id="content-wrapper" class="d-flex flex-column bg-black">
        <!-- Main Content -->
        <div id="content">
          <!-- Topbar -->
          <nav class="navbar navbar-expand navbar-light bg-blue topbar mb-4 static-top shadow">
            <a href="/" class="text-decoration-none">
              <div class="h2 text-white font-weight-bold my-auto pl-4">BU PlannerX</div>
            </a>
            <!-- Topbar Navbar -->
            <ul class="navbar-nav ml-auto">
              <!-- Nav Item - Messages -->
              <li class="nav-item no-arrow mx-1">
                <a class="nav-link"
                   href="https://github.com/Carperis/PlannerX"
                   role="button"
                   aria-haspopup="true"
                   aria-expanded="false">
                  <svg xmlns="http://www.w3.org/2000/svg"
                       width="24"
                       height="24"
                       viewBox="0 0 24 24">
                    <path fill="#fff" d="M12 0c-6.626 0-12 5.373-12 12 0 5.302 3.438 9.8 8.207 11.387.599.111.793-.261.793-.577v-2.234c-3.338.726-4.033-1.416-4.033-1.416-.546-1.387-1.333-1.756-1.333-1.756-1.089-.745.083-.729.083-.729 1.205.084 1.839 1.237 1.839 1.237 1.07 1.834 2.807 1.304 3.492.997.107-.775.418-1.305.762-1.604-2.665-.305-5.467-1.334-5.467-5.931 0-1.311.469-2.381 1.236-3.221-.124-.303-.535-1.524.117-3.176 0 0 1.008-.322 3.301 1.23.957-.266 1.983-.399 3.003-.404 1.02.005 2.047.138 3.006.404 2.291-1.552 3.297-1.23 3.297-1.23.653 1.653.242 2.874.118 3.176.77.84 1.235 1.911 1.235 3.221 0 4.609-2.807 5.624-5.479 5.921.43.372.823 1.102.823 2.222v3.293c0 .319.192.694.801.576 4.765-1.589 8.199-6.086 8.199-11.386 0-6.627-5.373-12-12-12z" />
                  </svg>
                </a>
              </li>
              <div class="topbar-divider d-none d-sm-block"></div>
              <!-- Nav Item - User Information -->
              <li class="nav-item dropdown no-arrow">
                {% if current_user.is_active %}
                  <a class="nav-link dropdown-toggle"
                     href="/dashboard"
                     id="userDropdown"
                     role="button"
                     data-toggle="dropdown"
                     aria-haspopup="true"
                     aria-expanded="false">
                    <span class="mr-2 d-none d-lg-inline text-white">{{ current_user.username }}</span>
                    <img class="img-profile rounded-circle"
                         src="/static/img/undraw_profile.svg">
                  </a>
                  <!-- Dropdown - User Information -->
                  <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                       aria-labelledby="userDropdown">
                    <a class="dropdown-item" href="/dashboard">
                      <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                      Dashboard
                    </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item"
                       href="/logout"
                       data-toggle="modal"
                       data-target="#logoutModal">
                      <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                      Logout
                    </a>
                  </div>
                {% else %}
                  <a class="nav-link"
                     href="/login"
                     id="userDropdown"
                     role="button"
                     aria-haspopup="true"
                     aria-expanded="false">
                    <span class="mr-2 d-none d-lg-inline text-white">Login</span>
                    <img class="img-profile rounded-circle"
                         src="/static/img/undraw_profile.svg">
                  </a>
                {% endif %}
              </li>
            </ul>
          </nav>
          <!-- End of Topbar -->
          <!-- Begin Page Content -->
          <div class="container-fluid p-0">
            {% block content %}{% endblock %}
          </div>
          <!-- /.container-fluid -->
        </div>
        <!-- End of Main Content -->
        <!-- Footer -->
        <footer class="sticky-footer bg-gray-900">
          <div class="container my-auto">
            <div class="copyright text-center my-auto text-white-50">
              <span>Copyright &copy; BU PlannerX 2021-2023 All Rights Reserved.</span>
            </div>
          </div>
        </footer>
        <!-- End of Footer -->
      </div>
      <!-- End of Content Wrapper -->
    </div>
    <!-- End of Page Wrapper -->
    <!-- Floating ChatBox -->
    <div class="float_box" id="feedback_box">
      <div class="float_content rounded-lg bg-warning" id="feedback_form">
        <div class="container-fluid p-0 pt-2">
          <div id="survey_form">
            <div class="row">
              <div class="col-12 text-white mt-2 text-lg text-center">Survey Form</div>
            </div>
            <div class="row m-2">
              <iframe class="rounded-lg border-0 w-100"
                      style="height: 500px"
                      src="https://forms.gle/svTchAzCQ2UjfqmM6">
              </iframe>
            </div>
          </div>
          <!-- <div id="report_form">
            <div class="row">
              <div class="col-12 text-white mt-2 text-lg text-center">Report Form</div>
            </div>
            <div class="row m-2">
              <iframe class="rounded-lg border-0 w-100" style="height: 500px" src="https://docs.google.com/forms/d/e/1FAIpQLSeI8_vYyaJgM7SJM4Y9AWfLq-tglWZh6yt7bEXEOJr_L-hV1A/viewform?formkey=dGx0b1ZrTnoyZDgtYXItMWVBdVlQQWc6MQ">
              </iframe>
            </div>
          </div> -->
          <div class="row text-white">
            <div class="col-12">
              <!-- list of options -->
              <ul>
                <li>
                  <button class="btn text-white" id="survey_btn">
                    Participate Survey to Earn Gift
                    Card!
                  </button>
                </li>
                <!-- <li>
                  <button class="btn text-white" id="report_btn">Report Issues & Feature Requests</button>
                </li> -->
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="float_btn">
        <button class="btn btn-warning btn-lg rounded-pill" id="feedback_btn">
          <i class=" fas fa-comments"></i>
          Feedback Here!
        </div>
      </div>
      <script src="/static/js/my_js.js"></script>
      <script>
        var popoverTriggerList = [].slice.call(document.querySelectorAll('[data-toggle="popover"]'));
        var popoverList = popoverTriggerList.map(function (popoverTrigger) {
            return new bootstrap.Popover(popoverTrigger);
        });
        const popover = new bootstrap.Popover('.popover-dismiss', {
            trigger: 'focus'
        })
      </script>
      <!-- Scroll to Top Button-->
      <a class="scroll-to-top rounded bg-info" href="#page-top">
        <i class="fas fa-angle-up"></i>
      </a>
      <!-- Logout Modal-->
      <div class="modal fade"
           id="logoutModal"
           tabindex="-1"
           role="dialog"
           aria-labelledby="exampleModalLabel"
           aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
              <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
              </button>
            </div>
            <div class="modal-body">Click "Logout" below if you are ready to logout.</div>
            <div class="modal-footer">
              <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
              <a class="btn btn-primary" href="/logout">Logout</a>
            </div>
          </div>
        </div>
      </div>
      <!-- deleteAccount Modal-->
      <div class="modal fade"
           id="deleteAccountModal"
           tabindex="-1"
           role="dialog"
           aria-labelledby="exampleModalLabel"
           aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Are You Sure to Delete Your Account?</h5>
              <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
              </button>
            </div>
            <div class="modal-body">
              Click "Delete" below if you are sure to delete your account. This will delate
              all your plan data and personal information. The operation CANNOT be undone.
            </div>
            <div class="modal-footer">
              <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
              <a class="btn btn-danger" href="/deleteuser">Delete</a>
            </div>
          </div>
        </div>
      </div>
      <!-- deleteAccount Modal-->
      {% if (plan) %}
        <div class="modal fade"
             id="deletePlanModal"
             tabindex="-1"
             role="dialog"
             aria-labelledby="exampleModalLabel"
             aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Are You Sure to Delete This Plan?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">×</span>
                </button>
              </div>
              <div class="modal-body">
                Click "Delete" below if you are sure to delete <span class="font-weight-bold">"{{ plan.planname }}"</span>. The operation CANNOT be undone.
              </div>
              <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                <a class="btn btn-danger" href="/deleteplan/{{ plan.id }}">Delete</a>
              </div>
            </div>
          </div>
        </div>
      {% endif %}
    </body>
  </html>
