{% extends 'base.html' %}

{% block head %}
<title>BU PlannerX - Dashboard</title>
{% endblock %}

{% block body %}

<div class="container-fluid bg-gray-900" style="padding-top: 25px; padding-bottom: 40px">
    <div class="row" style="display: flex; align-items: center; justify-content: center;">
        <div class="col-md-12">
            <div class="row mainfont-bold text-white">
                Dashboard
                Hello, {{current_user.username}}
                <br>
                <button class="ml-auto mt-2 bg-blue-500 py-2 px-6 text-white mainfont-bold text-base rounded-lg"
                    onclick="window.location.href='/plan/0';" id="btn">
                    Add Plan
                </button>
                <br>
                <button class="ml-auto mt-2 bg-blue-500 py-2 px-6 text-white mainfont-bold text-base rounded-lg"
                    onclick="window.location.href='/logout';" id="btn">
                    Logout
                </button>
                <table>
                    <tr>
                        <th>Task</th>
                        <th>Added</th>
                        <th>Actions</th>
                    </tr>
                    {%for plan in plans%}
                    <tr>
                        <td>{{ plan.planname }}</td>
                        <td>{{ plan.semester }}</td>
                        <td>
                            <br>
                            <button
                                class="ml-auto mt-2 bg-blue-500 py-2 px-6 text-white mainfont-bold text-base rounded-lg"
                                onclick="window.location.href='/plan/{{plan.id}}';" id="btn">
                                View & Edit
                            </button>
                            <br>
                            <button
                                class="ml-auto mt-2 bg-blue-500 py-2 px-6 text-white mainfont-bold text-base rounded-lg"
                                onclick="window.location.href='/delete_plan/{{plan.id}}';" id="btn">
                                Delete
                            </button>
                        </td>
                    </tr>
                    {%endfor%}
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}