{% extends 'base.html' %}

{% block head %}
<title>BU PlannerX</title>
{% endblock %}

{% block body %}
<div class="container-fluid bg-gray-900" style="padding-top: 25px; padding-bottom: 40px">
    <div class="row" style="display: flex; align-items: center; justify-content: center;">
        <div class="col-md-12">
            <div class="row mainfont-bold text-white">
                <h1>Welcome to BU PlannerX! Please login.</h1>
            </div>
        </div>
    </div>
</div>
{% endblock %}