{% extends 'base_raw.html' %}

{% block head %}
<title>BU PlannerX - Login</title>
{% endblock %}

{% block content %}

<body class="bg-gradient-primary">
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NSGFCZBD"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <div class="container">

        <!-- Outer Row -->
        <div class="row justify-content-center mt-5">

            <div class="col-xl-10 col-lg-12 col-md-9">
                {% if msg != [] %}
                <div class="alert alert-success alert-dismissable">
                    <!-- <button data-dismiss="alert" aria-label="close" class="close" aria-hidden="true"
                        style="position: relative; z-index: 1;">
                        &times;
                    </button> -->
                    {% for message in msg%}
                    <div class="alert font-weight-bold m-0 p-0">{{ message }}</div>
                    {% endfor %}
                </div>
                {% else %}
                <div style="height: 50px;"></div>
                {% endif %}

                <div class="card o-hidden border-0 shadow-lg my-5 bg-black">
                    <div class="card-body p-0">
                        <!-- Nested Row within Card Body -->
                        <div class="row">
                            <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
                            <div class="col-lg-6">
                                <div class="p-5">
                                    <div class="text-center">
                                        <h1 class="h4 text-white mb-4">Welcome Back!</h1>
                                    </div>
                                    <form class="user text-center" method="POST" action="">
                                        {{ form.hidden_tag() }}
                                        <div class="form-group">
                                            {{ form.email(class="form-control form-control-user bg-gray-900
                                            border-0 text-white") }}
                                        </div>
                                        <div class="form-group">
                                            {{ form.password(class="form-control form-control-user bg-gray-900
                                            border-0 text-white") }}
                                        </div>
                                        <div class="form-group">
                                            {{ form.remember(class="form-check-input") }}
                                            {{ form.remember.label(class="form-check-label") }}
                                        </div>
                                        {{ form.submit(class="btn btn-primary btn-user btn-block", id="btn") }}
                                    </form>
                                    <a class="btn btn-light btn-user btn-block mt-3 rounded-pill" id="btn"
                                        href="/google_login">
                                        <img id="google"
                                            src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/2048px-Google_%22G%22_Logo.svg.png"
                                            alt="Google" style="width:30px;height:3n0px;">
                                        <span class="small text-dark pl-2">Login with Google</span>
                                    </a>
                                    <hr class="border-white">
                                    <div class="text-center mb-1">
                                        <a class="small" href="/reset_password">Forgot Password?</a>
                                    </div>
                                    <div class="text-center mb-4">
                                        <a class="text-warning" href="/register">Create an Account!</a>
                                    </div>
                                    <div class="text-center">
                                        <a href="/" class="btn">
                                            <div class="btn-info btn-circle btn-sm">
                                                <i class="fas fa-arrow-left"></i>
                                            </div>
                                            <span class="small text-info pl-2">Back to home</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div style="height: 50px;"></div>

            </div>

        </div>

    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="js/sb-admin-2.min.js"></script>

</body>
{% endblock %}