{% extends 'base.html' %}

{% block head %}
<title>BU PlannerX - Login</title>
{% endblock %}

{% block body %}
<div class="container-fluid bg-gray-900" style="padding-top: 25px; padding-bottom: 40px">
    <div class="row" style="display: flex; align-items: center; justify-content: center;">
        <div class="col-md-12">
            {% if msg != [] %}
            <div class="alert alert-success alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
                    <i class="fa-solid fa-circle-xmark fa-xs"></i>
                </button>
                {% for message in msg%}
                <div class="alert mainfont-bold" style="margin-bottom: 0; padding-top: 0; padding-bottom: 0; ">{{
                    message }}</div>
                {% endfor %}
            </div>
            {% endif %}
            <div class="row mainfont-bold text-white">
                <h1>Login Page</h1>
                <form method="POST" action="">
                    {{ form.hidden_tag() }}
                    {{ form.username(class="mainfont-regular rounded-lg form-control bg-gray-800 text-gray-300") }}
                    {{ form.password(class="mainfont-regular rounded-lg form-control bg-gray-800 text-gray-300") }}
                    {{ form.submit(class="ml-auto mt-2 bg-blue-500 py-2 px-6 text-white mainfont-bold text-base
                    rounded-lg", id="btn") }}
                </form>
                <a href="{{ url_for('register') }}">Don't have an account? Sign Up</a>
            </div>
        </div>
    </div>
</div>




{% endblock %}