{% extends 'base_content.html' %}
{% block head %}
  <title>BU PlannerX - Plan</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <link rel="stylesheet" href="/static/css/chosen.min.css">
  <!-- https://harvesthq.github.io/chosen/ -->
  <script src="/static/js/chosen.jquery.min.js"></script>
  <script>
    $('#courses').chosen();

    function displayDetails(data, divId) {
        var detailsContainer= $("#" + divId);

        detailsContainer.empty();
      
        $.each(data, function(key, value) {
            var formattedValue = value.value.toFixed(2);
            var minValue = value.min_value;
            var maxValue = value.max_value;
            var check = value.check;
            if (key == 'Earliest Time' || key == 'Latest Time') {
                var hours = Math.floor(formattedValue);
                var minutes = Math.round((formattedValue - hours) * 60);
                formattedValue = (hours < 10 ? '0' : '') + hours + ':' + (minutes < 10 ? '0' : '') + minutes;
            }
            console.log(key, formattedValue, minValue, maxValue, check);
            var checkmark = "";
            if (check){
                checkmark = "<i class='fa-solid fa-lg fa-check text-success my-auto ml-2'></i>";
            }
            
            var formattedRow =
            "<div class='row m-3 mt-0 w-100 d-flex justify-content-center'>" +
                "<span class='text-info text-lg mb-1'><strong>" + value.name + "</strong>: " + formattedValue + "</span>" + checkmark +
                "<div class='row w-100'>" +
                    "<div class='col-1 text-center'>" + minValue + "</div>" +
                    "<div class='col-10 align-self-center'>" + generateProgressBar(value.value, minValue, maxValue) + "</div>" +
                    "<div class='col-1 text-center'>" + maxValue + "</div>" +
                    "</div>" +
              "</div>";
            detailsContainer.append(formattedRow);
        });
    }

    function generateProgressBar(value, min, max) {
        var percentage = ((value - min) / (max - min)) * 100;
        var progressBar =
            "<div class='progress'>" +
                "<div class='progress-bar' role='progressbar' style='width: " + percentage + "%' aria-valuenow='" + value + "' aria-valuemin='" + min + "' aria-valuemax='" + max + "'></div>" +
            "</div>";
        return progressBar;
    }

    function showSchedule(n) {
        $.ajax({
            url: "/plan/showschedule/{{plan.id}}/" + n,
            type: "GET",
            success: function (data) {
                $("#img").prop('src', '/static/Users/{{user.id}}/{{plan.id}}/schedule.png?' + new Date().getTime());
                $("#num").prop('value', data.num);

                if (!jQuery.isEmptyObject(data.details)) {
                    displayDetails(data.details, "schedule_details");
                }
            }
        });
    }

    function goto() {
        var n = $("#num").val();
        if (isNaN(n) || n.length === 0) {
            {% if plan %}
                n = "{{plan.planNum+1}}";
            {% else %}
                return;
            {% endif %}
        }
        console.log(n);
        $.ajax({
            url: "/plan/showschedule/{{plan.id}}/" + n,
            type: "GET",
            success: function (data) {
                $("#img").prop('src', '/static/Users/{{user.id}}/{{plan.id}}/schedule.png?' + new Date().getTime());
                $("#num").prop('value', data.num);
                if (!jQuery.isEmptyObject(data.details)) {
                    displayDetails(data.details, "schedule_details");
                }
            }
        });
    }

    function updateCourseOptions() {
        var selectedValue1 = $('#year').val();
        var selectedValue2 = $('#term').val();
        var semester = selectedValue1 + "-" + selectedValue2;
        console.log('Semester:', semester);

        $.ajax({
            url: "/plan/fetch_course_names/" + semester,
            type: "GET",
            success: function (data) {
                var selectedCourses = [];
                {% if plan %}
                var selectedCourses = "{{ plan.courses }}";
                var selectedCourses = selectedCourses.split("||");
                {% else %}
                    {% if (request.form['courses']) %}
                    var selectedCourses = "{{ request.form['courses'] }}";
                    var selectedCourses = selectedCourses.split("||");
                    {% endif %}
                {% endif %}

                $("#courses").empty();
                data.forEach(function (course_name) {
                    const option = $('<option>', { value: course_name, text: course_name });
                    $("#courses").append(option);
                    var short_course_name = course_name.split("(")[0];
                    short_course_name = short_course_name.replace(/\s+$/, '');
                    if (selectedCourses.includes(short_course_name)) {
                        option.prop('selected', true);
                    }
                });
        $("#courses").trigger("chosen:updated");
            }
        });
    }

    function updateTermOptions() {
        var yearSelect = $('#year').val();

        $.ajax({
            url: "/plan/fetch_term_names/" + yearSelect,
            type: "GET",
            success: function (data) {
                $('#term option').each(function () {
                    const optionValue = $(this).val();
                    if (!data.includes(optionValue)) {
                        if ($(this).is(':selected')) {
                            $('#term').val('');
                        }
                        //$(this).hide();
                        $(this).wrap('<span>'); // alternative solution due to safari limitations
                    }
                    else {
                        //$(this).show();
                        if ($(this).parent().is('span')) { // alternative solution due to safari limitations
                            $(this).unwrap();
                        }
                    }
                });
            }
        });
    }

    var firstLoad = true;

    $(document).ready(function () {
        {% if not plan %}
        $('#year').val({{years[0]}});
        {% endif %}

        if (firstLoad) {
            firstLoad = false;
            updateTermOptions();
            updateCourseOptions();
            goto();
        }

        $('#courses').chosen();

        $('#num').keypress(function (e) {
            if (e.keyCode == 13) {
                if (isNaN($("#num").val()) || $('#num').val().length === 0) {
                    $("#num").prop('value', "1");
                }
                $("#goto").click();
            }
        });

        $('#year').on('change', updateTermOptions);
        $('#year, #term').on('change', updateCourseOptions);

    });
  </script>
{% endblock %}
{% block content %}
  <div class="col-md-9 mx-auto">
    <div style="height: 50px"></div>
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-center m-5">
      <div class="h1 mb-0 text-white font-weight-bold">Course Planning Tool</div>
    </div>
    {% if msg != [] %}
      <div class="alert alert-success alert-dismissable">
        <button data-dismiss="alert"
                aria-label="close"
                class="close"
                aria-hidden="true"
                style="position: relative;
                       z-index: 1">&times;</button>
        {% for message in msg %}<div class="alert font-weight-bold m-0 p-0">{{ message }}</div>{% endfor %}
      </div>
    {% endif %}
    {% if plan %}
    <div class="row">
        <div class="h3 text-warning ml-3">Quick Tips</div>
        <ul>
        {% for item in quickTips %}
        <li>
            <span class="text-info">{{ item }}</span>
            <span class="text-white">{{ quickTips[item] }}</span>
        </li>
        {% endfor %}
        </ul>
    </div>
    {% endif %}
    <div class="row text-white">
      <div class="col-lg-8 p-4">
        <form class="user"
              role="form"
              action="/plan/{% if plan.id %}{{ plan.id }}{% else %}0{% endif %}"
              method="POST">
          <div class="form-group">
            <i class="fa-solid fa-user fa-inverse"></i>
            <label>
              Plan Name
              <a tabindex="0"
                 role="button"
                 class="btn p-0"
                 data-toggle="popover"
                 data-trigger="focus"
                 data-title="{{ guidance["planname"][0] }}"
                 data-content="{{ guidance["planname"][1] }}"><i class="fa fa-question-circle" aria-hidden="true"></i></a>
            </label>
            <input class="text-lg rounded-pill form-control bg-gray-900 text-white border-0 pl-4"
                   type="text"
                   name="planname"
                   id="planname"
                   placeholder="Plan Name"
                   value="{% if (not (request.form['planname'])) %}{% if plan %}{{ plan.planname }}{% endif %}{% else %}{{ request.form['planname'] }}{% endif %}">
          </div>
          <div class="form-group">
            <i class="fa-solid fa-calendar-days fa-inverse"></i>
            <label>
              Semester
              <a tabindex="0"
                 role="button"
                 class="btn p-0"
                 data-toggle="popover"
                 data-trigger="focus"
                 data-title="{{ guidance["semester"][0] }}"
                 data-content="{{ guidance["semester"][1] }}"><i class="fa fa-question-circle" aria-hidden="true"></i></a>
            </label>
            <div class="d-flex">
              <select class="text-lg rounded-pill form-control bg-gray-900 text-white border-0 w-50 mr-1"
                      name="years"
                      id="year">
                {% for year in years %}
                  <option id="years" value="{{ year }}" {% if (not (request.form['years'])) %}{% if plan %}{% if
                    (plan.semester.split("-")[0]==year ) %}selected="selected" {% endif %}{% endif %}{% else
                    %}{% if ( request.form['years']==year ) %}selected="selected" {% endif %}{% endif %}>
                    {{
                    year }}
                  </option>
                {% endfor %}
              </select>
              <select class="text-lg rounded-pill form-control bg-gray-900 text-white border-0 w-50 ml-1"
                      name="term"
                      id="term">
                <option value="SPRG" {% if (not (request.form['term'])) %}{% if plan %}{% if
                  (plan.semester.split("-")[1]=="SPRG" ) %}selected="selected" {% endif %}{% endif %}{%
                  else %}{% if ( request.form['term']=="SPRG" ) %}selected="selected" {% endif %}{% endif
                  %}>Spring</option>
                <option value="FALL" {% if (not (request.form['term'])) %}{% if plan %}{% if
                  (plan.semester.split("-")[1]=="FALL" ) %}selected="selected" {% endif %}{% endif %}{%
                  else %}{% if ( request.form['term']=="FALL" ) %}selected="selected" {% endif %}{% endif
                  %}>Fall</option>
                <option value="SUMM_1" {% if (not (request.form['term'])) %}{% if plan %}{% if
                  (plan.semester.split("-")[1]=="SUMM_1" ) %}selected="selected" {% endif %}{% endif %}{%
                  else %}{% if ( request.form['term']=="SUMM_1" ) %}selected="selected" {% endif %}{%
                  endif %}>Summer 1</option>
                <option value="SUMM_2" {% if (not (request.form['term'])) %}{% if plan %}{% if
                  (plan.semester.split("-")[1]=="SUMM_2" ) %}selected="selected" {% endif %}{% endif %}{%
                  else %}{% if ( request.form['term']=="SUMM_2" ) %}selected="selected" {% endif %}{%
                  endif %}>Summer 2</option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <i class="fa-solid fa-book-open-reader fa-inverse"></i>
            <label>
              Courses
              <a tabindex="0"
                 role="button"
                 class="btn p-0"
                 data-toggle="popover"
                 data-trigger="focus"
                 data-title="{{ guidance["courses"][0] }}"
                 data-content="{{ guidance["courses"][1] }}"><i class="fa fa-question-circle" aria-hidden="true"></i></a>
            </label>
            <select name="courses"
                    id="courses"
                    data-placeholder="   CAS XX 101,ENG XX 101,QST XX 101"
                    class="form-control chosen"
                    multiple></select>
          </div>
          <div class=" form-group">
            <i class="fa-solid fa-chalkboard-user fa-inverse"></i>
            <label>
              Average Professors Score
              <a tabindex="0"
                 role="button"
                 class="btn p-0"
                 data-toggle="popover"
                 data-trigger="focus"
                 data-title="{{ guidance["AvgScore"][0] }}"
                 data-content="{{ guidance["AvgScore"][1] }}"><i class="fa fa-question-circle" aria-hidden="true"></i></a>
            </label>
            <input type="number"
                   step="0.01"
                   name="AvgScore"
                   id="AvgScore"
                   placeholder="Rate Your Professors!"
                   value="{% if (not (request.form['AvgScore'])) %}{% if plan %}{{ plan.AvgScore }}{% else %}3{% endif %}{% else %}{{ request.form['AvgScore'] }}{% endif %}"
                   class="text-lg rounded-pill form-control bg-gray-900 text-white border-0 pl-4">
          </div>
          <div class="form-group">
            <i class="fa-solid fa-person-running fa-inverse fa-lg"></i>
            <label>
              Preferred Starting Time
              <a tabindex="0"
                 role="button"
                 class="btn p-0"
                 data-toggle="popover"
                 data-trigger="focus"
                 data-title="{{ guidance["EarlyTime"][0] }}"
                 data-content="{{ guidance["EarlyTime"][1] }}"><i class="fa fa-question-circle" aria-hidden="true"></i></a>
            </label>
            <input type="time"
                   name="EarlyTime"
                   id="EarlyTime"
                   value="{% if (not (request.form['EarlyTime'])) %}{% if plan %}{{ plan.EarlyTime }}{% else %}08:00{% endif %}{% else %}{{ request.form['EarlyTime'] }}{% endif %}"
                   class="text-lg rounded-pill form-control bg-gray-900 text-white border-0 pl-4">
          </div>
          <div class="form-group">
            <i class="fa-solid fa-person-running fa-inverse fa-flip-horizontal fa-lg"></i>
            <label>
              Preferred Ending Time
              <a tabindex="0"
                 role="button"
                 class="btn p-0"
                 data-toggle="popover"
                 data-trigger="focus"
                 data-custom-class="custom-popover"
                 data-title="{{ guidance["LateTime"][0] }}"
                 data-content="{{ guidance["LateTime"][1] }}"><i class="fa fa-question-circle" aria-hidden="true"></i></a>
            </label>
            <input type="time"
                   name="LateTime"
                   id="LateTime"
                   value="{% if (not (request.form['LateTime'])) %}{% if plan %}{{ plan.LateTime }}{% else %}21:00{% endif %}{% else %}{{ request.form['LateTime'] }}{% endif %}"
                   class="text-lg rounded-pill form-control bg-gray-900 text-white border-0 pl-4">
          </div>
          <div class="d-flex justify-content-between">
            <button id="btn" type="submit" class="btn btn-success btn-lg mt-2 mb-3">Submit / Update</button>
            <span class="text-white text-right align-self-center">
              {% for date in editDate %}
                {{ date }}: {{ editDate[date] }}
                <br />
              {% endfor %}
            </span>
          </div>
        </form>
      </div>
      <div class="col-lg-4 p-4 d-flex flex-column align-items-center text-center">
        {% if(plan) %}
          <div class="mt-1">
            <div class="h5 mb-0 text-info mb-2">{{ plan.semester }} Classes:</div>
            <div class="text-white mb-3">
              {% for cls in classFullCodes %}<li>{{ cls }}</li>{% endfor %}
            </div>
            <div class="h5 mb-0 text-info mb-2">Preferred Average Score:</div>
            <div class="text-white text-lg mb-3">{{ plan.AvgScore }}</div>
            <div class="h5 mb-0 text-info mb-2">Preferred Starting Time:</div>
            <div class="text-white text-lg mb-3">{{ plan.EarlyTime }}</div>
            <div class="h5 mb-0 text-info mb-2">Preferred Ending Time:</div>
            <div class="text-white text-lg mb-3">{{ plan.LateTime }}</div>
          </div>
          <div class="row flex-grow-1"></div>
          {% if (controls[0] == True) %}
            <div class="row w-100">
              <div class="col-12 p-3">
                <a href="/getplans/{{ plan.id }}"
                   class="btn btn-info w-100 h-100"
                   data-toggle="popover"
                   data-trigger="hover"
                   data-title="{{ guidance["getschedules"][0] }}"
                   data-content="{{ guidance["getschedules"][1] }}"
                   data-placement="top">
                  <span class="text">Plan Schedules</span>
                </a>
              </div>
              {% if (controls[1] == True) %}
                <div class="col-12  p-3">
                  <a href="/rankplans/{{ plan.id }}"
                     class="btn btn-warning w-100 h-100"
                     data-toggle="popover"
                     data-trigger="hover"
                     data-title="{{ guidance["rankschedules"][0] }}"
                     data-content="{{ guidance["rankschedules"][1] }}"
                     data-placement="top">
                    <span class="text">Rank Schedules</span>
                  </a>
                </div>
              {% endif %}
              <div class="col-12  p-3">
                <a href="/deleteplan/{{ plan.id }}"
                   class="text-danger w-100 h-100"
                   data-toggle="modal"
                   data-target="#deletePlanModal">
                  <span class="text">Delete Plan</span>
                </a>
              </div>
            </div>
          {% endif %}
        {% else %}
          <div class="h3 mb-0 text-warning mt-1">Quick Tips</div>
          <br>
          <div class="text-white">
            {% for item in quickTips %}
              <span class=" text-info">{{ item }}</span>
              <br>
              <span>{{ quickTips[item] }}</span>
              <br>
              <br>
            {% endfor %}
          </div>
        {% endif %}
      </div>
    </div>
    {% if plan %}
      {% if (plan.planNum != -1) %}
        <div style="height: 50px"></div>
        <div class="row d-flex align-items-center justify-content-center m-4">
          <div class="h3 mb-0 text-white font-weight-bold">Schedule</div>
        </div>
        <div class="row d-flex align-content-center justify-content-center m-4">
          {% if (controls[2] == True) %}
            <div class="col-xl-8 mb-4 d-flex justify-content-center bg-gray-900 rounded-lg p-2">
              <img src="/static/Users/{{ user.id }}/{{ plan.id }}/schedule.png"
                   id="img"
                   class="bg-gray-200 rounded-lg w-100 my-auto" />
            </div>
            <div class="col-xl-4 pb-4 d-flex flex-column justify-content-center">
              <div class="row" id="schedule_details"></div>
              <div class="row flex-grow-1"></div>
              <div class="row mt-3 mx-auto">
                <div class="col-2 text-left my-auto">
                  <a onclick=" showSchedule(-4)" class="btn">
                    <i class="fa-solid fa-angle-left fa-inverse fa-2xl"></i>
                  </a>
                </div>
                <div class="col-8 text-white d-flex align-content-center justify-content-center">
                  <p style="margin: 10px">No.</p>
                  <input type="number"
                         min="0"
                         name="num"
                         id="num"
                         value="{{ plan.planNum+1 }}"
                         class="text-lg rounded-pill form-control bg-gray-900 text-white border-0 pl-4"
                         style="width: 100px">
                  <button onclick="goto()" id="goto" class="btn p-0">
                    <i class="fa-solid fa-angles-right fa-inverse fa-xl "
                       style="margin: 10px"></i>
                  </button>
                </div>
                <div class="col-2 text-right my-auto">
                  <a onclick="showSchedule(-2)" class="btn">
                    <i class="fa-solid fa-angle-right fa-inverse fa-2xl"></i>
                  </a>
                </div>
              </div>
            </div>
          {% else %}
            <div class="row w-100 d-flex justify-content-center mb-4">
              <img src="/static/Users/{{ user.id }}/{{ plan.id }}/schedule.png"
                   id="img"
                   class="col-xl-8 col-md-10 col-sm-12 bg-gray-200 rounded-lg" />
            </div>
            <div class="row">
              <div class="col-3 text-left my-auto">
                <a onclick=" showSchedule(-4)" class="btn">
                  <i class="fa-solid fa-angle-left fa-inverse fa-2xl"></i>
                </a>
              </div>
              <div class="col-6 text-white d-flex align-content-center justify-content-center">
                <p style="margin: 10px">Schedule</p>
                <input type="number"
                       min="0"
                       name="num"
                       id="num"
                       value="{{ plan.planNum+1 }}"
                       class="text-lg rounded-pill form-control bg-gray-900 text-white border-0 pl-4"
                       style="width: 100px">
                <button onclick="goto()" id="goto" class="btn p-0">
                  <i class="fa-solid fa-angles-right fa-inverse fa-xl"
                     style="margin: 10px"></i>
                </button>
              </div>
              <div class="col-3 text-right my-auto">
                <a onclick="showSchedule(-2)" class="btn">
                  <i class="fa-solid fa-angle-right fa-inverse fa-2xl"></i>
                </a>
              </div>
            </div>
          {% endif %}
        </div>
      {% endif %}
    {% endif %}
  </div>
  <div style="height: 100px"></div>
{% endblock %}
